[submodule "cmake"]
	path = cmake
	url = https://github.com/jherico/cmake.git
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libraries/glm"]
	path = libraries/glm
	url = https://github.com/g-truc/glm.git
[submodule "libraries/oglplus"]
	path = libraries/oglplus
	url = https://github.com/matus-chochlik/oglplus.git
[submodule "libraries/OculusSDK"]
	path = libraries/OculusSDK
	url = https://github.com/jherico/OculusSdkMin.git
